// _elements.css.scss
a {
  color: $c-gray--dark;
}

.button {
  background-color: $c-purple--lighter;
  color: $c-white;
  &:hover {
    background-color: $c-purple;
  }
}

// _forms.css.scss
input[type="text"], input[type="email"], textarea {
    background: #91b8a5;
    color: $color-complement--light;
    border: 1px solid $c-purple--light;
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
      color: $color-complement--light;
    }
}

// _header.css.scss
header {
  background: $c-purple--darker;
  color: $c-yellow--light;
  border-bottom-color: $c-gray--dark;

  h1 {
    color: $c-yellow;
  }
  a {
    color: inherit;
  }
}

.section-landing_image {
  border-color: $c-purple--dark;
  color: $c-purple--darker;
}

// _about.css.scss
.section-about {
  .about-section--first {
    background-color: $c-off_whiter;

    h1 {
      &, a {
        color: $c-purple--darker;
      }
    }
    p {
      color: $c-purple--dark;
    }
  }

  .about-section--second {
    $color: $c-gray--lighter;
    $text-color: $c-gray--lighter;
    background-color: $c-purple--dark;

    .about-skill_icons {
      li {
        border-color: $color;
      }
    }
    .icon {
      background-color: $c-purple--dark;
      border-color: $text-color;
      color: $text-color;

      &:before {
        color: $color;
      }
    }
    p {
      color: darken($text-color, 10%);
    }
    h3 {
      color: $c-yellow--lighter;
    }
  }
}

// _blog.css.scss
.section-blog {
  background-color: $c-purple--lighter;

  h1 {
    &, a {
      color: $c-yellow--lighter;
    }
  }
  p {
    color: darken($c-gray--lighter, 10%);
  }
}

// _portfolio.css.scss
.section-portfolio {
  background-color: $c-purple--darker;
  color: $c-gray;
  h1 {
    color: $color-complement--light;
  }

  p, li {
    color: $color-complement;
  }

  a {
    color: $c-yellow--lighter;
    &:hover {

    }
  }

  span {
    color: $color-complement--lighter;
  }
  .with_bullet {
    li {
      color: $c-off_whiter;
    }
  }

  // .check_more-trigger {
  //   color: $c-yellow--darker;
  //   background-color: $c-yellow;
  //   border-color: $c-yellow--lighter;
  // }
}

// _contact.css.scss
.section-contact {
  h1, h2, a:hover {
    color: $c-purple;
  }
  p, li, a {
    color: $c-purple--dark;
  }
  .checked, .unchecked {
    color: $c-purple;
    &:before {
      color: $c-purple;
    }
  }
}

// _footer.css.scss
#footer {
  background: $c-purple--darker;

  .socialLinks {
    li {
      a {
        border-color: $c-purple--lighter;
        color: $c-purple--lighter;
        &:hover {
          color: $c-yellow--lighter;
          border-color: $c-yellow--lighter;
        }
      }
    }
  }
  p {
    color: $c-purple--lighter;
  }
}