$c-dark_gray: #343434;
$c-light_gray: #f2f2f1;
$c-white: #fff;

$h1-size: 24px;
$h2-size: 18px;
$h3-size: 14px;
$h4-size: 12px;

$footer-height: 125px;

$one-third: 33%;
$two-thirds: 66%;
$full-length: 100%;

$open-family: 'open_sans', Arial, sans-serif;