$c-dark_gray: #343434;

$c-white: #fff;
$c-off_white: #f1f1f1;

$c-gray_text: #999;
$c-light_background: #f2f2f1;
$c-dark_background: $c-dark_gray;

$h1-size: 24px;
$h2-size: 18px;
$h3-size: 14px;
$h4-size: 12px;

$large-bp: 960px;
$medium-bp: 640px;
$small-bp: 568px;
$extra_small-bp: 460px;
$header_height: 62px;
$footer_height: 165px;

$one-third: calc(#{$large-bp} / 3);
$two-thirds: calc(#{$large-bp} / 3 * 2);

$open-family: 'open_sans', Arial, sans-serif;

