.section-about {
  margin: 0 auto;
  @include clearfix;
  height: 500px;
  @media (max-width: $large-bp) {
    height: auto;
    width: 100%;
  }


  div[class^="about-section"] {
    width: 50%;
    height: 500px;
    float: left;
    display: inline-block;
    @media (max-width: $large-bp) {
      width: 100%;
      float: none;
      display: block;
      @include clearfix;
    }
    @media (max-width: $small-bp) {
      height: 414px;
      &.about-section--second {
        height: 425px;
      }
    }
    @media (max-width: $extra_small-bp) {
      height: 550px;
    }
  }

  .about-description, .about-details {
    width: calc(#{$large-bp/2} - 20px);
    padding: 10px;
    height: 100%;
    @media (max-width: $large-bp) {
      margin: 0 auto;
      float: initial !important;
    }
    @media (max-width: $extra_small-bp) {
      width: 300px;
    }
  }

  .about-section--first {
    background: $c-light_background;
  }

  .about-section--second {
    background: $c-dark_background;
  }

  .about-description {
    float: right;
    margin-top: 57px;

    @media (max-width: $small-bp) {
      margin-top: 30px;
    }

    h1 {
      margin-bottom: 15px;
      font-weight: 900;
    }

    p {
      color: $c-gray_text;
    }

    li {
      margin: 0 3px;
    }

    a {
      width:10px;
      color: $c-dark_gray;

      &:before {
        font-size: 14px;
      }
    }
  }

  .about-details {
    ul {
      margin-left: 75px;
      margin-top: 60px;

      @media (max-width: $small-bp) {
        margin-left: 35px;
        margin-top: 33px;
      }
      @media (max-width: $extra_small-bp) {
        margin-left: 25px;
      }
    }

    li {
      height: 101px;
      padding-bottom: 35px;
      border-left: 2px dashed #555;

      &:last-of-type {
        border: none;

        h3 {text-transform: none;}
      }

      .icon {
        width: 55px;
        height: 55px;
        border-radius: 30px;
        border: 3px solid #555;
        display: inline-block;
        float: left;
        margin-left: -30px;
        background-color: $c-dark_background;

        &:before { color: #555;}
      }

      .icon-oop:before {
        content: "OOP";
        font-weight: bold;
        position: relative;
        top: 19px;
        left: 0px;
        margin-left: 10px;
      }

      .icon-ruby:before {
        margin-top: 9px;
        margin-left: 9px;
        font-size: 37px;
      }

      .icon-iphone:before {
        margin-top: 8px;
        margin-left: 18px;
        font-size: 44px;
      }

      .description {
        padding-left: 75px;

        @media (max-width: $small-bp) {
          padding-left: 55px;
        }
        @media (max-width: $extra_small-bp) {
          padding-left: 45px;
        }
      }
    }

    h3 {
      color: $c-off_white;
      @media (max-width: $large-bp) {
        display: none;
      }
    }

    p {
      color: $c-gray_text;
      @media (max-width: $extra_small-bp) {line-height: 20px;}
    }
  }
}