.section {
  width: $large-bp;
  margin: 0 auto;
  padding-left: 20px;
  @media (max-width: $large-bp) {
    width: $medium-bp;
  }
  @media (max-width: $small-bp) {
    width: 460px;
    padding-left: 0;
  }
  @media (max-width: $extra_small-bp) {
    width: 300px;
    padding: 0;
  }
}

@import './landing-image.css.scss';
@import './about.css.scss';
@import './portfolio.css.scss';
@import './blog.css.scss';
@import './contact.css.scss';