.section-blog {
  background: $c-dark_background;
  padding: 50px 0 20px;

  @media (max-width: $large-bp) {
    .section {
      width: calc(#{$medium-bp} - 20px);
    }
  }
  @media (max-width: $small-bp) {
    .section {
      width: 300px;
    }
  }

  h1 {
    &, & a {
      color: $c-off_white;
      text-decoration: none;
    }
  }

  p {
    color: $c-gray_text;
    @media (max-width: $small-bp) {width: 280px;}
  }
}