.section-contact {
  padding-top: 120px;
  margin-bottom: 120px;
  @media (max-width: $small-bp) {
    padding-top: 60px;
    width: 100%;
    margin-bottom: 10px;
  }
  @media (max-width: $extra_small-bp) {
    margin: 0 auto 60px;
    width: 320px;
  }

  .contact-form {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 50px;
    float: left;
    @media (max-width: $small-bp) {
      width: 100%;
    }

    .row {
     .column {
       float: left;
       width: calc(50% - 5px);
       @media (max-width: $small-bp) {
        clear: left;
        width: 100%;
        margin-bottom: 10px;
       }

       &:first-of-type {
        margin-right: 10px;
       }
     }
    }

    input[type="text"], input[type="email"], textarea, input[type="text"], textarea {
      background: $c-light_background;
      border: 0 none;
      color: #666;
      font-size: 13px;
      margin: 0 0 14px;
      outline: 0 none;
      padding: 12px 10px;
      resize: none;
      width: calc(100% - 20px);
      font-family: $open-family;
      border: 1px solid $c-light_background;
      @media (max-width: $small-bp) {
       width: 100%;
       float: left;
       clear: left;
      }
    }

    textarea {
      height: 190px;
    }
  }

  .contact-information {
    display: inline-block;
    width: calc(#{$large-bp} / 3 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    @media (max-width: $large-bp) {
      width: calc(#{$medium-bp} - 20px);
      margin: 50px 0 0;
    }
    @media (max-width: $small-bp) {
      width: 300px;
    }

    .contact-info--section {
      margin-bottom: 40px;
    }

    @media (max-width: $large-bp) {
      .contact-info--section:first-child { float: left;}
      .contact-info--section:last-child { float: right;}
    }

    @media (max-width: $small-bp) {
      .contact-info--section:last-child {
        float: left;
        clear: left;
      }
    }

    h2 {
      font-weight: 900;
    }

    li {
      font-size: 13px;
      color: $c-gray_text;
      line-height: 21px;
      margin-bottom: 2px;
    }
  }

}