$landing_image-height: 526px;

.section-landing_image {
  background: url('../../images/forest_flat.jpg') no-repeat center center fixed;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  @include clearfix;

  @media (max-width: $small-bp) {
    height: 170px;
  }

  @media (max-width: $extra_small-bp) {
    height: 185px;
    background-position: -570px -556px;
  }

  .landing-caption {
    $height: 210px;
    width: 420px;
    height: $height/3*2;
    margin: 0 auto;
    margin-top: calc(#{$landing_image-height/2} - #{$height/2} );
    margin-bottom: calc(#{$landing_image-height/2} - #{$height/2} );
    padding-top: $height/3;
    text-align: center;
    background-color: rgba(255,255,255,0.65);
    text-transform: uppercase;
    border-radius: 5px;
    border-radius: 30px;
    border: 3px solid rgba(255,255,255,0.5);
    @media (max-width: $small-bp) {
      width: 100%;
      height: 60px;
      margin: 25px auto 0;
      padding: 30px 0;
    }
    @media (max-width: $extra_small-bp) {
      display: none;
    }
  }

  .landing-title {
    font-size: 48px;
    font-weight: 900;
  }

  .landing-subtitle {
    font-size: 20px;
  }
}