.section-portfolio {
  padding-top: 57px;
  padding-bottom: 28px;
  @media (max-width: $small-bp) {
    padding-top: 39px;
  }
  @media (max-width: $extra_small-bp) {
    padding-bottom: 68px;
  }
  h1 {
    margin-bottom: 10px;
  }

  p {
    line-height: 1.25em;
    margin-bottom: 10px;
  }

  .portfolio-more {
    display: none;
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }

  .with_bullet {
    list-style-type: circle;

    li {
      margin-bottom: 8px;

      a {
        &:hover {
          text-decoration: none
        }
      }
    }
  }

  .check_more {
    display: none;

    &:checked {
      & ~ .check_more-trigger {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: inline-block;
        }
        &:before {
          content: 'Show less';
        }
        &:after {
          content: $font-flaticon-chevron-arrow-up;
        }
      }
      & ~ .portfolio-more {
        display: inline-block;
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
      }
    }

    & ~ .check_more-trigger {
      width: 100%;
      text-align: center;
      color: $color-complement--lighter;
      margin: 30px 0;
      position: relative;
      @media (max-width: $small-bp) {
        margin: 10px 0;
      }

      &:first-of-type {
        display: inline-block;
      }
      &:last-of-type {
        display: none;
      }
      &:before {
        content: 'Show more';
      }
      &:after {
        content: $font-flaticon-chevron-arrow-down;
        position: absolute;
        width: 100%;
        top: 20px;
        left: 0;
      }
    }
  }
}