.section-portfolio {
  padding-top: 57px;
  padding-bottom: 28px;
  @media (max-width: $small-bp) {padding-top: 39px;}

  h1 {
    margin-bottom: 10px;
  }

  p {
    line-height: 15px;
  }

  .portfolio-more {
    display: none;
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }

  .with_bullet {
    list-style-type: circle;

    li {
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 15px;

      a {
        &:hover {
          text-decoration: none
        }
      }
    }
  }

  .check_more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    font-size: .9em;
    line-height: 2;
    border: 1px solid;
    border-radius: .25em;
  }

  .check_more {
    display: none;

    &:checked {
      & ~ .check_more-trigger {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: inline-block;
        }
        &:before {
          content: 'Show less';
        }
      }
      & ~ .portfolio-more {
        display: inline-block;
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
      }
    }

    & ~ .check_more-trigger {
      margin: 30px 0;

      &:first-of-type {
        display: inline-block;
      }
      &:last-of-type {
        display: none;
      }
      &:before {
        content: 'Show more';
      }
    }
  }
}