html, body {
  height: 100%;
  font-family: $open-family;
}

@for $i from 1 through 6 {
  h#{$i} {text-transform: uppercase;}
}

h1 {
  font-size: $h1-size;
  font-weight: bolder;
  margin-bottom: 15px;
}

h2 {
  font-size: $h2-size;
  margin-bottom: 10px;
}

h3 {
  font-size: $h3-size;
  margin-bottom: 5px;
}

h4 {
  font-size: $h4-size;
}

h5 {

}

h6 {

}

p {
  line-height: 25px;
  font-size: 13px;
}

span {

}

b {

}

i {

}

em {

}

a {
  cursor: hand;
}

li a {text-decoration: none;}

ul.inline li {
  display: inline-block;
}

