form {
  float: left;

  @media (max-width: $large-bp) {
  }

  .row {

    .column {
      @media (max-width: $small-bp) {
        
      }
    }
  }

  input[type="text"], input[type="email"], textarea {
    outline: 0 none;
    padding: 12px 10px;
    resize: none;
    font-family: $open-family;
    @media (max-width: $small-bp) {
      
    }
  }

  textarea {
    
  }
}