@import "compass/utilities/general/clearfix";

$header_padding: 20px;

header {
  width: 100%;
  background: $c-white;
  color: $c-dark_gray;
  text-transform: uppercase;
  border-bottom: 3px solid $c-dark_gray;
}

.header-container {
  width: $global_width;
  margin: 0 auto;
  @include clearfix;

  .logo {
    width: calc(#{$one-third} - 40px);
    float: left;
    padding: $header_padding;
    font-size: $h2-size;
    font-weight: 900;
    color: $c-dark_gray;
  }

  nav {
    float: right;
    width: $two-thirds;
    font-size: $h4-size;
    font-weight: bold;
    text-align: right;
  }
}

.header-container nav {
  li {
    a {
      padding: 25px 15px;
      display: block;
    }
  }
}



