header {
  width: 100%;
  height: $header_height;
  background: $c-white;
  color: $c-dark_gray;
  text-transform: uppercase;
  border-bottom: 3px solid $c-dark_gray;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: calc(-#{$header_height} - 3px);
}

.header-container {
  width: 100%;
  margin: 0 auto;
  @include clearfix;

  .logo {
    width: 30%;
    float: left;
    padding: 20px 10px;
    font-size: $h2-size 10px;
    font-weight: 900;
    color: $c-dark_gray;
  }

  nav {
    float: right;
    width: auto;
    font-size: $h4-size;
    font-weight: bold;
    text-align: right;
  }
}

.header-container nav {
  li {
    a {
      padding: 25px 15px;
      display: block;
    }
  }
}



