header {
  width: 100%;
  text-transform: uppercase;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -$header_height;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  @include clearfix;

  h1 {
    float: left;
    padding: 20px 10px 0;
    font: 18px;
    font-weight: 900;

    @media (max-width: $small-bp) {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }

  nav {
    float: right;
    width: auto;
    font-size: $h4-size;
    font-weight: bold;
    text-align: right;

    @media (max-width: $small-bp) {
      width: 100%;
      float: left;
      clear: left;
      text-align: center;
    }
  }
}

.header-container nav {
  li {
    a {
      padding: 25px 15px;
      display: block;

      @media (max-width: $small-bp) {
        padding: 5px 13px;
      }
    }
  }
}



