@import "../base/global.css.scss";

@include sticky-footer(calc(#{$footer_height} - 100px));

#footer {
  padding: 50px 0;
  background: $c-dark_gray;
  text-align: center;

  .socialLinks {
    li {
      display: inline-block;
      margin: 0 5px;

      a {
        border: 3px solid #666;
        color: #666;
        height: 20px;
        width: 20px;
        border-radius: 100px;
        padding: 10px 9px 7px 7px;
        display: inline-block;

        &:hover {
          color: $c-off_white;
          border-color: $c-off_white;
        }

        &:before {
          font-family: "social-icons";
          font-style: normal;
          font-weight: normal;
          speak: none;
          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
          font-variant: normal;
          text-transform: none;
          line-height: 1em;
          margin-left: .2em;
        }
      }
    }

    .footer_icon-twitter a:before {content: $icon-twitter;}
    .footer_icon-linkedin a:before {content: $icon-linkedin;}
    .footer_icon-wordpress a:before {content: $icon-wordpress;}
    .footer_icon-github a:before {content: $icon-github;}
    .footer_icon-stackoverflow a:before {content: $icon-stackoverflow;}


  }

  p {
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
  }
}

